@font-face {
  font-family: 'shopify-icon';
  src:  url('../fonts/shopify-icon.eot?501so7');
  src:  url('../fonts/shopify-icon.eot?501so7#iefix') format('embedded-opentype'),
    url('../fonts/shopify-icon.ttf?501so7') format('truetype'),
    url('../fonts/shopify-icon.woff?501so7') format('woff'),
    url('../fonts/shopify-icon.svg?501so7#shopify-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'shopify-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-embed:before {
  content: "\ea7f";
}
