@import "Theme-color.less";

// Scaping: General Variables For Responsive
@max460: ~"(max-width: 460px)";
@max640: ~"(max-width: 640px)";
@min640max768: ~"(min-width: 640px) and (max-width: 768px)";
@max768: ~"(max-width: 768px)";
@min768: ~"(min-width: 768px)";
@min769: ~"(min-width: 769px)";
@max991: ~"(max-width: 991px)";
@min992: ~"(min-width: 992px)";
@max1200: ~"(max-width: 1200px)";
@min1200: ~"(min-width: 1200px)";

//Scrollbar
.scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: @textBack-col;
    }
    &::-webkit-scrollbar-thumb {
        background-color: @sign-col;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: @secoundSign-col;
    }  
}

// Define Theme Fonts
@font-face {
    font-family: 'IranSans';
    src:url('../fonts/IRAN SANS.TTF') format('truetype');
}

// Mixin transition
.transition(@time: 0.5s) {
    transition: all @time ease-in-out;
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
}

// Change the color of the placeholder font
.placeholder-color(@color) {
    &::-webkit-input-placeholder {color: @color};
}
* {
    box-sizing: border-box;
}
body {
    #wrapper {
        position: relative;
        .transition(0.5s);
    }
    font-family: 'IranSans';
}
a {
    &:hover {
        text-decoration: none !important;
        transition: all 0.3s !important
    }
}
//HEADER
    //First nav
    .top-nav {
        background-color: @bg-darker;
        padding: 3px 20px;
        position: sticky;
        width: 100%;
        top: 0;
        list-style-type: none;
        z-index: 9999 !important;
        .transition(0.5s);
        #drop {
            color: @font-col;
            text-decoration: none;
            font-size: 12px;
        } 
        .dropdown-toggle::after {vertical-align: middle !important;}
        .dropdown-menu {
            border-radius: 0;
            min-width: 90px;
            padding: 0;
            margin-top: 0;
            left: 20px;
            li {
                display: block;
                a {
                    font-size: 12px;
                    color: @font-col;
                    padding-left: 5px
                }
            }   
        }
    }
    //Secound nav
    .nav {
        position: sticky;
        width: 100%;
        padding: 5px 0;
        top: 0;
        background-color: @full-col;
        z-index: 99;
        .row {
            padding-top: 5px;
        }
        .transition(0.5s);
        .cart {
            padding-top: 10px;
            .cart-area {
                display: inline;
                li {
                    list-style-type: none;
                    display: inline-block;
                }
                .link-header {
                    display: inline;
                    li {
                        list-style-type: none;
                        display: inline;
                        a {
                            text-align: center;
                            color: @dark-col;
                        }
                        .dropbtn {
                            position: relative;
                            display: inline;
                            text-decoration: none;
                            margin-right: 15px;
                            img {
                                width: 22px;
                                padding-right: 5px;
                            }
                        } 
                        &:hover .dropdown-content {display: block;}
                        .dropdown-content {
                            display: none;
                            position: absolute;
                            min-width: 160px;
                            border: 1px solid rgba(0,0,0,0.1);
                            z-index: 999;
                            background-color: @full-col;
                            a {
                                color: @font-col;
                                padding: 3px 16px;
                                display: block;
                                text-align: left;
                                &:hover {
                                    background: @back-col;
                                }
                            }
                        }
                    }
                }
                .shop-icon {
                    position: relative;
                    display: inline;
                    padding-right: 5px;
                    a {
                        &:hover {text-decoration: none}
                    }
                    img {width: 16px}
                    .badge {
                        color: @secoundSign-col;
                        top: 10px;
                        left: 20px;
                        font-size: 18px;
                        text-decoration: none;
                        &:hover {text-decoration: none}
                    }
                }
                .mediaSearchIcon {
                    display: none;
                    margin-right: 15px;
                    #search {
                        width: 17px;
                        img {width: 18px !important}
                    }
                    .dropsearch img {width: 16px !important}
                    .dropsearch>button {
                        border: 1px solid rgba(0,0,0,0.1);
                        border-right: none;
                        margin-right: -3px;
                        background: 0 0;
                        height: 35px;
                        
                    }
                    .dropsearch>input {
                        border:1px solid rgba(0,0,0,0.1);
                        border-left: none;
                        height: 35px;
                        width: 70%;
                        text-align: right;
                        .placeholder-color(rgb(195, 195, 195));
                    }
                    .dropsearch {
                        display: none;
                        position: absolute;
                    }
                }
                .links {
                    display: inline;
                    a {
                        font-size: 16px;
                        text-decoration: none;
                        color: @font-col;
                        
                        padding-right: 15px;
                    }
                }
            } 
        }
    
        .search-area {
            display: inline;
            .form-search {display: inline;}
            input {
                font-size: 16px;
                width: 100%;
                height: 45px;
                padding: 20px;
                border: 0.12px solid rgb(231, 231, 231);
                direction: rtl;
                .placeholder-color(rgb(195, 195, 195));
            }
            button {
                background: transparent;
                border-left: 0.12px solid @back-col;
                border: none;
                position: absolute;
                padding: 10px 10px 16px;
                cursor: pointer;
                img {width: 15px}
            }
        }
        .logo {
            text-align: right;
            .logo-box {
                display: inline-block;
                img {width: 100%}
            }
        }
    }
//MAIN
    //SideNav
    .sideNav {
        background-color: @bg-darker;
        height: 100%;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -200px;
        min-width: 177px;
        .transition(0.5s);
        .category {
            text-align: right;
            padding: 15px;
            .st2link {font-size: 11.5px}
            li {list-style-type: none}
            a {
                text-decoration: none;
                color: @full-col;
                display: block;
                line-height: 30px !important;
                font-size: 12px;
                .transition(0.5s);
                #plus-toggle img, #plus-toggle1 img, #plus-toggle2 img, #plus-toggle3 img {
                    float: left;
                    margin: 12px 80px 0 0;
                    width: 8px;
                    opacity: 0.5;
                    &:hover {opacity: 1}
                }
                #plus-toggle4 img {
                    float: left;
                    margin: 12px 60px 0 0;
                    width: 8px;
                    opacity: 0.5;
                    &:hover {opacity: 1}
                }
                #minus-toggle img, #minus-toggle1 img, #minus-toggle2 img, #minus-toggle3 img {
                    float: left;
                    margin: 12px 80px 0 0;
                    width: 8px;
                    opacity: 0.5;
                    &:hover {opacity: 1}
                }
                #minus-toggle4 img {
                    float: left;
                    margin: 12px 60px 0 0;
                    width: 8px;
                    opacity: 0.5;
                    &:hover {opacity: 1}
                }
            }
            
            .sidenav-toggle, .sidenav-toggle1, .sidenav-toggle2, .sidenav-toggle3, .sidenav-toggle4 {
                display: none;
                span {
                    margin-left: 10px;
                    font-size: 10px;
                }  
            }
        }
    }
    //Carousel (slider)
    .prev, .next {
        position: absolute;
        background-size: 80% 80%;
        top: 80%;
        padding: 16px;
        margin-top: -22px;
        color: @dark-col;
        transition: 0.5s ease;
        &:hover {
            text-decoration: none;
            color: @bg-darker;
        }
    }
    .prev {right: 82px}
    .next {right: 55px}
    .carousel-caption {
        bottom: 25%;
        left: 68%;
        right: -5%;
        
        p {
            font-size: 150%;
            color:#262634;
            margin-bottom: 0;
        }
        a {color: #7E6F5C;}
    }
    .breadcrumb {
        margin-top: 30px;
        padding: 3px 0 6px 30px;
        direction: rtl;
        font-size: 14px;
        height: 30px;
        background: @back-col;
        border-radius: none;
        li {
            padding: 0;
            display: inline-block;
            a {color: @dark-col}
        }
    }
    .prods {
        .card {
            border-radius: none;
            border: none;
            text-align: center;
            .row {direction: rtl}
            .card-img-top {
                width: 100%;
                transform:scale(1);
                &:hover {
                    transform:scale(1.1);
                    transition: all 0.3s;
                }
            }
            //offers
            .bottom-home {
                position: absolute;
                bottom: 160px;
                .product-date {
                    width: 100%;
                }
                .day, .hours, .min, .secound {
                    background: @textBack-col;
                    color: @full-col;
                    border-radius: 5px;
                    display: inline-block;
                    width: 23%;
                    height: 40px;
                    margin-top: 5px;
                    text-align: center;
                    line-height: 18px;
                    .no {
                        display: block;
                        font-size: 11px;
                    }
                    .text {font-size: 16px;}
                }
            }
            #noPB {padding-bottom: 0 !important;}
            #noPB1 {padding-bottom: 9px !important;}
            .card-body {
                padding-bottom: 30px !important;
                height: 150px;
                .card-title {
                    p {
                        opacity: 0.6;
                        margin-bottom: -10px !important;
                        font-size: 16px;
                        a {
                            color: @dark-col;
                            &:hover {color: @secoundSign-col;}
                        }
                    }
                }
                .card-text {
                    img {
                        width: 8px;
                        opacity: 0.6;
                        line-height: 1px;
                    }
                    ul {
                        list-style-type: none;
                        padding-left: 0;
                        margin-bottom: 0;
                        padding-top: 5px;
                        li {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                        }
                        #colorImg1 {background: url('../img/blue.png') no-repeat;}
                        #colorImg2 {background: url('../img/green.png') no-repeat;}
                        #colorImg3 {background: url('../img/orange.png') no-repeat;}
                        #colorImg4 {background: url('../img/black.png') no-repeat;}

                        #colorImg21 {background: url('../img/purple.png') no-repeat;}
                        #colorImg22 {background: url('../img/green.png') no-repeat;}
                        #colorImg23 {background: url('../img/blue.png') no-repeat;}

                        #colorImg31 {background: url('../img/purple.png') no-repeat;}
                        #colorImg32 {background: url('../img/orange.png') no-repeat;}
                        #colorImg33 {background: url('../img/blue.png') no-repeat;}
                        #colorImg34 {background: url('../img/brown.png') no-repeat;}

                        #colorImg41 {background: url('../img/purple.png') no-repeat;}
                        #colorImg42 {background: url('../img/green.png') no-repeat;}
                        #colorImg43 {background: url('../img/blue.png') no-repeat;}

                        #colorImg51 {
                            background: url('../img/white.png') no-repeat;
                            box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
                        }
                        #colorImg52 {background: url('../img/blue.png') no-repeat;}
                        #colorImg53 {background: url('../img/black.png') no-repeat;}
                        #colorImg54 {background: url('../img/grey.png') no-repeat;}

                        #colorImg61 {background: url('../img/black.png') no-repeat;}
                        #colorImg62 {background: url('../img/green.png') no-repeat;}
                        #colorImg63 {background: url('../img/orange.png') no-repeat;}

                        #colorImg71 {
                            background: url('../img/white.png') no-repeat;
                            box-shadow: -1px 1px 1px rgba(0,0,0,0.5);
                        }
                        #colorImg72 {background: url('../img/orange.png') no-repeat;}
                        #colorImg73 {background: url('../img/black.png') no-repeat;}
                        #colorImg74 {background: url('../img/grey.png') no-repeat;}

                        #colorImg81 {background: url('../img/blue.png') no-repeat;}
                        #colorImg82 {background: url('../img/black.png') no-repeat;}
                        #colorImg83 {background: url('../img/green.png') no-repeat;}

                        #colorImg91 {background: url('../img/brown.png') no-repeat;}
                        #colorImg92 {background: url('../img/pink.png') no-repeat;}
                        #colorImg93 {background: url('../img/orange.png') no-repeat;}
                    }
                    p {
                        direction: rtl;
                        opacity: 1;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    //Products category
    .categories {
        background-color: @back-col;
        text-align: right;
        padding: 0 25px 3px 15px;
        line-height: 43px;
        h5 {
            padding: 30px 0 18px;
            font-weight: 600
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                //Mode toggle
                #plus {
                    float: left;
                    font-size: 20px;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                #minus {
                    float: left;
                    display: none;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                .badge {margin-right: 10px}
                //Electronic toggle
                #plus1 {
                    float: left;
                    font-size: 20px;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                #minus1 {
                    float: left;
                    display: none;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                //Home & garden toggle
                #plus2 {
                    float: left;
                    font-size: 20px;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                #minus2 {
                    float: left;
                    display: none;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                //Music toggle
                #plus3 {
                    float: left;
                    font-size: 20px;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                #minus3 {
                    float: left;
                    display: none;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                //Pages toggle
                #plus4 {
                    float: left;
                    font-size: 20px;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                #minus4 {
                    float: left;
                    display: none;
                    img {
                        width: 10px;
                        opacity: 0.4;
                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: @darker-col;
                    font-size: 16px;
                    .this {
                        padding: 0 10px;
                        opacity: 0.5;
                        width: 32px;
                    }
                }
            }
        }
        .toggle, .toggle1, .toggle2, .toggle3 ,.toggle4 {display: none}
    }
    .filterBox {
        background: @back-col;
        padding: 25px;
        margin-top: 30px;
        text-align: right;
        .slider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 10px;
            background: @full-col;
            outline: none;
            direction: rtl;
            border-radius: 5px;
            &:hover {opacity: 1;}
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: url("../img/ui-slider-handle.png") no-repeat;
                background-size: 17px;
                cursor: pointer;
            }
            &::-moz-range-thumb {
                width: 20px;
                height: 20px;
                background: url("../img/ui-slider-handle.png") no-repeat;
                background-size: 17px;
                border: none;
                cursor: pointer;
            }
        }
    }
//FOOTER
    //FoterTop
    .footer-top {
        position: absolute;
        bottom: 3.8;
        margin: -35px 0 95px;
        width: 100% !important;
        .footerTopRow {
            background-color: @dark-col;
            color: @text-col;
            .row {
                text-align: center;
                .footerTopDivs {
                    padding: 12px 0;
                    p {
                        opacity: 0.5;
                        font-size: 12px;
                        margin-bottom: 0
                    }
                } 
            }
        }
    }
    //FooterMiddle & FooterBottom
    .footers {
        background-color: @bgfootertop-col;
        padding-top: 20px;
        margin-top: 60px;
        .footer-middle {
            padding-top: 30px;
            margin: 50px 0 5px;
            h6 {
                color: @text-col;
                text-align: right
            }
            .connectUS li {
                color: @text-col;
                opacity: 0.3;
                font-size: 14px;
            }
            li {
                list-style-type: none;
                text-align: right;
                a {
                    color: @text-col;
                    opacity: 0.3;
                    font-size: 14px;
                    line-height: 30px
                }
            }
            
            .mb-0 {opacity: 0.3;}
            p {
                color: @text-col;
                opacity: 0.5;
                text-align: right
            }
            #form {
                margin: 20px 0;
                text-align: right;
                button {
                    background-color: @dark-col;
                    color: @text-col;
                    border: none;
                    padding: 3px 17px 6px;
                    position: absolute;
                    font-size: 14px;
                    &:hover {cursor: pointer;}
                }
                input {
                    text-align: right;
                    background-color: @bgfootertop-col;
                    border: 2px solid @dark-col;
                    padding: 5px 10px;
                    font-size :12px;
                    color: @textBack-col;
                    caret-color: rgb(75, 75, 75);
                    &:hover {outline: none;}
                    &:focus {outline: none}
                }
                ::placeholder {
                    color: @font-col;
                    opacity: 0.3;
                }
            }
            .fa {
                color: @text-col;
                border: 2px solid rgba(75, 75, 75, 0.5);
                border-radius: 100%;
                padding: 10px;
                float: right;
                margin-left: 10px;
                &:hover {
                    background-color: @text-col;
                    color: @bgfootertop-col;
                    border: 2px solid @text-col;
                    transition: all 0.3s ease;
                    -webkit-transition: all 0.5s ease; 
                }
            }
            .fa-facebook {padding: 10px 13px}
        }
        .footer-bottom {
            text-align: left;
            padding-bottom: 25px;
            p{
                color: @text-col;
                opacity: 0.3;
                font-size: 12px;
                margin-bottom: 0;
                padding-right: 15px;
            }
            .imageBox{
                text-align: right !important;
                padding-right: 30px;
                img {max-width: 50%}
            }
        }
        #up {
            color: @full-col;
            padding: 5px 10px;
            background: @secoundSign-col;
            bottom: 32px;
            left: 32px;
            position: fixed;
            font-size: 24px;
            z-index: 999;
        }
    }
@media @max460 {
    .carousel-caption {
        right: 4%;
        p {font-size: 125%}
        a {font-size: 80%}
    }
    .plnone {padding-left: 0;}
    // .footers .footer-bottom .imageBox img {width: 100%}
    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;
            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}
@media @max640 {
    .dropdown {padding: 3px 0}
    .dropdown-menu>li {display: block}
    .prev, .next {display: none}
    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;
            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}
@media @min640max768 {
    #drop {
        display: none;
        &:hover {
            cursor: pointer !important;
            .dropdown-menu {display: block !important}
        }
    }
    .top-nav {
        .dropdown-menu {
            display: inline;
            position: relative;
            background-color: transparent;
            border: none;
            font-size: 14px;
            top: 3px;
            li {
                display: inline !important;
                a {
                    display: inline;
                    padding-right: 10px
                }
            }
        }
    }  
    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;
            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}
@media @max768 {
    .top-nav {
        position: sticky;
        width: 100%;
    }
    .nav {top: 30px;}
    .footerTopRow .row .col-md-4 {border-right: 0}
    .footer-top {
        position: relative !important;
        top: 0;
        margin-bottom: -30px !important;
        padding-top: 90px;
        margin-bottom: 0;
        .container {margin-right: 0;}
        #secoundSectionDiv {
            border-top: 1px solid @bgfootertop-col;
            border-bottom: 1px solid @bgfootertop-col;
        }
    }
    .footers {
        margin-top: 0;
        padding-top: 40px;
        .footer-middle {
            margin-top: 0;
            padding: 15px;
        }
        .footer-bottom {
            padding-right: 0;
            .imageBox {right: 0;}
            p {text-align: right}
        }
    }
}
@media @min768 {
    #secoundSection {
        border-right: 1px solid @bgfootertop-col;
        border-left: 1px solid @bgfootertop-col;
        #secoundSectionDiv {
            border-top: none;
            border-bottom: none;
        }
    }
    footer {
        .footer-top {
            padding-left: 15px;
            padding-right: 15px;
        }
        .foters .row {text-align: right;}
    }
}
@media @min769 {
    .top-nav{display: none}
}
@media @max991 {
    .mediaSearchIcon {display: inline !important;}
    .cart .links {display: none !important}
    .search-area>button {border: 1px solid rgba(0,0,0,0.2)}
    .prev {right: 60px !important}
    .next {right: 35px !important}
    .categories {margin-top: 30px}
    .footer-top {
        bottom: 1.3% !important;
        margin-bottom: 245px;
    }
}
@media @min992 {
    .footer-top {margin-bottom: 125px;}
    .footers {margin-top: 225px;}
}
@media @max1200 {
    .prev {right: 60px}
    .next {right: 35px}
    #noPBMQ {padding-bottom: 10px !important}
}