@import "Theme-color.less";

// Scaping: General Variables For Responsive
@max460: ~"(max-width: 460px)";
@max640: ~"(max-width: 640px)";
@min640max768: ~"(min-width: 640px) and (max-width: 768px)";
@max768: ~"(max-width: 768px)";
@min768: ~"(min-width: 768px)";
@min769: ~"(min-width: 769px)";
@max991: ~"(max-width: 991px)";
@min992: ~"(min-width: 992px)";
@max1200: ~"(max-width: 1200px)";
@min1200: ~"(min-width: 1200px)";

//Scrollbar
.scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: @textBack-col;
    }

    &::-webkit-scrollbar-thumb {
        background-color: @sign-col;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: @secoundSign-col;
    }
}

// Define Theme Fonts
@font-face {
    font-family: 'IranSans';
    src: url('../fonts/IRAN SANS.TTF') format('truetype');
}

// Mixin transition
.transition(@time: 0.5s) {
    transition: all @time ease-in-out;
    -webkit-transition: all @time ease-in-out;
    -moz-transition: all @time ease-in-out;
}

// Change the color of the placeholder font
.placeholder-color(@color) {
    &::-webkit-input-placeholder {color: @color}
}

* {
    box-sizing: border-box;
}

body {
    #wrapper {
        position: relative;
        .transition(0.5s);
    }

    font-family: 'IranSans';
}

a {
    &:hover {
        text-decoration: none !important;
        transition: all 0.3s !important
    }
}

//HEADER
//First nav
.top-nav {
    background-color: @bg-darker;
    padding: 3px 20px;
    position: sticky;
    width: 100%;
    top: 0;
    list-style-type: none;
    z-index: 9999 !important;
    .transition(0.5s);

    #drop {
        color: @font-col;
        text-decoration: none;
        font-size: 12px;
    }

    .dropdown-toggle::after {
        vertical-align: middle !important;
    }

    .dropdown-menu {
        border-radius: 0;
        min-width: 90px;
        padding: 0;
        margin-top: 0;
        left: 20px;

        li {
            display: block;

            a {
                font-size: 12px;
                color: @font-col;
                padding-left: 5px
            }
        }
    }
}

//Secound nav
.nav {
    position: sticky;
    width: 100%;
    padding: 5px 0;
    top: 0;
    background-color: @full-col;
    z-index: 99;

    .row {
        padding-top: 5px;
    }

    .transition(0.5s);

    .cart {
        padding-top: 10px;

        .cart-area {
            display: inline;

            li {
                list-style-type: none;
                display: inline-block;
            }

            .link-header {
                display: inline;

                li {
                    list-style-type: none;
                    display: inline;

                    a {
                        text-align: center;
                        color: @dark-col;
                    }

                    .dropbtn {
                        position: relative;
                        display: inline;
                        text-decoration: none;
                        margin-right: 15px;

                        img {
                            width: 22px;
                            padding-right: 5px;
                        }
                    }

                    &:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        min-width: 160px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        z-index: 999;
                        background-color: @full-col;

                        a {
                            color: @font-col;
                            padding: 3px 16px;
                            display: block;
                            text-align: left;

                            &:hover {
                                background: @back-col;
                            }
                        }
                    }
                }
            }

            .shop-icon {
                position: relative;
                display: inline;
                padding-right: 5px;

                a {
                    &:hover {
                        text-decoration: none
                    }
                }

                img {
                    width: 16px
                }

                .badge {
                    color: @secoundSign-col;
                    top: 10px;
                    left: 20px;
                    font-size: 18px;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none
                    }
                }
            }

            .mediaSearchIcon {
                display: none;
                margin-right: 15px;

                #search {
                    width: 17px;

                    img {
                        width: 18px !important
                    }
                }

                .dropsearch img {
                    width: 16px !important
                }

                .dropsearch>button {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-right: none;
                    margin-right: -3px;
                    background: 0 0;
                    height: 35px;

                }

                .dropsearch>input {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-left: none;
                    height: 35px;
                    width: 70%;
                    text-align: right;
                    .placeholder-color(rgb(195, 195, 195));
                }

                .dropsearch {
                    display: none;
                    position: absolute;
                }
            }

            .links {
                display: inline;

                a {
                    font-size: 16px;
                    text-decoration: none;
                    color: @font-col;

                    padding-right: 15px;
                }
            }
        }
    }

    .search-area {
        display: inline;

        .form-search {
            display: inline;
        }

        input {
            font-size: 16px;
            width: 100%;
            height: 45px;
            padding: 20px;
            border: 0.12px solid rgb(231, 231, 231);
            direction: rtl;
            .placeholder-color(rgb(195, 195, 195));
        }

        button {
            background: transparent;
            border-left: 0.12px solid @back-col;
            border: none;
            position: absolute;
            padding: 10px 10px 16px;
            cursor: pointer;

            img {
                width: 15px
            }
        }
    }

    .logo {
        text-align: right;

        .logo-box {
            display: inline-block;

            img {
                width: 100%
            }
        }
    }
}

//MAIN
//SideNav
.sideNav {
    background-color: @bg-darker;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    right: -200px;
    min-width: 177px;
    .transition(0.5s);

    .category {
        text-align: right;
        padding: 15px;

        .st2link {
            font-size: 11.5px
        }

        li {
            list-style-type: none
        }

        a {
            text-decoration: none;
            color: @full-col;
            display: block;
            line-height: 30px !important;
            font-size: 12px;
            .transition(0.5s);

            #plus-toggle img,
            #plus-toggle1 img,
            #plus-toggle2 img,
            #plus-toggle3 img {
                float: left;
                margin: 12px 80px 0 0;
                width: 8px;
                opacity: 0.5;

                &:hover {
                    opacity: 1
                }
            }

            #plus-toggle4 img {
                float: left;
                margin: 12px 60px 0 0;
                width: 8px;
                opacity: 0.5;

                &:hover {
                    opacity: 1
                }
            }

            #minus-toggle img,
            #minus-toggle1 img,
            #minus-toggle2 img,
            #minus-toggle3 img {
                float: left;
                margin: 12px 80px 0 0;
                width: 8px;
                opacity: 0.5;

                &:hover {
                    opacity: 1
                }
            }

            #minus-toggle4 img {
                float: left;
                margin: 12px 60px 0 0;
                width: 8px;
                opacity: 0.5;

                &:hover {
                    opacity: 1
                }
            }
        }

        .sidenav-toggle,
        .sidenav-toggle1,
        .sidenav-toggle2,
        .sidenav-toggle3,
        .sidenav-toggle4 {
            display: none;

            span {
                margin-left: 10px;
                font-size: 10px;
            }
        }
    }
}

//Products category
.categories {
    background-color: @back-col;
    text-align: right;
    padding: 0 25px 3px 15px;
    line-height: 43px;

    h5 {
        padding: 30px 0 18px;
        font-weight: 600
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {

            //Mode toggle
            #plus {
                float: left;
                font-size: 20px;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            #minus {
                float: left;
                display: none;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            //Electronic toggle
            #plus1 {
                float: left;
                font-size: 20px;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            #minus1 {
                float: left;
                display: none;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            //Home & garden toggle
            #plus2 {
                float: left;
                font-size: 20px;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            #minus2 {
                float: left;
                display: none;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            //Music toggle
            #plus3 {
                float: left;
                font-size: 20px;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            #minus3 {
                float: left;
                display: none;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            //Pages toggle
            #plus4 {
                float: left;
                font-size: 20px;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            #minus4 {
                float: left;
                display: none;

                img {
                    width: 10px;
                    opacity: 0.4;

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }

            a {
                text-decoration: none;
                color: @darker-col;
                font-size: 16px;

                .this {
                    padding: 0 10px;
                    opacity: 0.5;
                    width: 32px;
                }
            }
        }
    }

    .toggle,
    .toggle1,
    .toggle2,
    .toggle3,
    .toggle4 {
        display: none
    }
}
//zoom image

//view section
.product-shop {
    text-align: justify;
    direction: rtl;

    .right {
        float: right;
        font-size: 22px;
        font-weight: 500;
        color: @secoundSign-col;
    }

    .left {
        float: left;
        direction: rtl;
        color: @secoundSign-col;

        .product-rating {
            img {
                width: 16px;
                margin-left: -2px;
            }
        }

        .badge-caption a {
            color: @dark-col;
            font-size: 18px;
            margin-left: 10px;
        }
    }

    .short-description {
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        padding: 5px 0 20px;
        margin-top: 20px;
        letter-spacing: 0.5px;
        opacity: 0.7;
    }

    .in-stock {
        color: @secoundSign-col;
    }

    //offers
    .bottom-home {
        margin-top: 10px;
        .offers-caption {
            opacity: 0.5;
        }
        .day, .hours, .min, .secound {
            background: @textBack-col;
            color: @full-col;
            border-radius: 5px;
            display: inline-block;
            padding: 5px 25px;
            margin-top: 5px;
            text-align: center;
            .no {
                display: block;
                font-size: 18px;
            }
        }
    }

    input {
        width: 70px;
        height: 56px;
        text-align: center;
        margin-top: 20px;
        border: 0.5px solid @text-col  !important;

        &:focus {
            outline: none;
        }
    }

    .quentity-buttons {
        display: inline-block;
        text-align: center;

        .fa-plus {
            border: 1px solid @text-col;
            width: 25px;
            height: 25px;
            display: block;
            position: absolute;
            margin-top: -32px;
            font-size: 10px;
            padding-top: 6px;
            margin-right: 3px;

            &:hover {
                cursor: pointer;
            }
        }

        .fa-minus {
            display: block;
            border: 1px solid @text-col;
            width: 25px;
            height: 25px;
            position: absolute;
            margin-top: -1px;
            font-size: 10px;
            padding-top: 7px;
            margin-right: 3px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .addToBag {
        border: none !important;
        background: @secoundSign-col;
        width: 165px;
        height: 56px;
        color: @full-col;
        font-size: 16px;
        position: absolute;
        margin-top: 20px;
        margin-right: 52px;

        &:hover {
            opacity: 0.8;
            transition: 0.5s;
            outline: none !important;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

//tabs buttons div
.tabs {
    border-bottom: 1px solid @back-col;
    text-align: right;
    font-size: 18px;

    #tab1 {border-bottom: 2px solid @secoundSign-col;}
    .tablink {
        background: transparent;
        margin: 45px 0 0 15px;
        padding: 0 0 18px 0;
        border: none;
        
        &:hover {
            cursor: pointer;
            color: @secoundSign-col;
            transition: 0.5s;
        }

        &:focus {
            outline: none;
        }
    }
}
//custom tab
.product-custom-tab {
    text-align: right;
    font-size: 14px;
    display: none;
    opacity: 0.7;

    ul {
        text-align: right;
        padding: 30px 0;
        
        li {
            text-align: right;
            line-height: 7px;
            direction: rtl;
            margin: 15px;
        }
    }
}
//sizeChart
.sizeChart {
    display: none;
    img {
        max-width: 85%;
        padding: 30px 0;
    }
}
//review
.reviews {
    text-align: right;
    padding: 30px 0;
    display: none;
    .right {
        float: right;
        opacity: 0.8;

        p {
            margin-bottom: 0rem !important;
        }
    }

    .left {
        float: left;
        opacity: 0.9;

        a {
            color: @dark-col;

            &:hover {
                color: @secoundSign-col;
                cursor: pointer;
            }
        }
    }
}
hr {display: none;}
//hidden review content
.review {
    text-align: right;
    display: none;
    .form-content-name {
        input {
            text-align: right;
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid @text-col;
            opacity: 0.7;
            font-size: 12px;

            &:active {
                outline: none
            }

            &:focus {
                outline: none
            }
        }

        label {
            display: block;

            sup {
                color: red;
            }
        }
    }

    .form-content-email {
        input {
            text-align: right;
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            border: 1px solid @text-col;
            opacity: 0.7;
            font-size: 12px;

            &:active {
                outline: none
            }

            &:focus {
                outline: none
            }
        }

        label {
            display: block;
            margin-top: 20px;

            sup {
                color: red;
            }
        }
    }

    .form-content-rating {
        i {
            font-size: 12px;
            margin-left: -1px;
            color: @dark-col;
        }

        label {
            display: inline-block;
            margin-top: 20px;

            span {
                font-size: 16px;
                font-weight: 400;

                sup {
                    color: red;
                }
            }
        }
    }

    .form-content-textarea {
        label {
            display: inline-block;
            margin-top: 20px;

            sup {
                color: red;
            }
        }

        textarea {
            text-align: right;
            padding-right: 10px;
            width: 100%;
            border: 1px solid @text-col;
            opacity: 0.7;
            font-size: 12px;
        }
    }
}

#comment-btn {
    padding: 5px 20px;
    font-weight: 400;
    font-size: 14px;
    color: @full-col;
    background: @secoundSign-col;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}
//moreInfo hidden
.tabcontent {
    text-align: justify;
    direction: rtl;
    line-height: 1.8;
    padding: 30px 0;
    opacity: 0.8;
}

//Products owl-carousel
.owl-carousel {
    margin-top: 25px;
}

.owl-loaded {
    font-size: 18px;
    text-align: right
}

.owl-stage-outer {
    padding-top: 20px
}

.owl-nav {
    margin-top: 0 !important;
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 28px;
}

.owl-prev {
    span {
        color: @darker-col  !important;
        background-color: @full-col;
        border: none;

        &:hover {
            border: none;
            text-decoration: none
        }
    }

    &:focus {
        outline: none !important;
        border: none !important;
        appearance: none;
    }

    &:hover {
        box-shadow: none;
        color: @darker-col  !important;
        background-color: none
    }
}

.owl-next {
    &:focus {
        outline: none !important;
        border: none !important;
    }

    span {
        color: @darker-col  !important;
        background-color: @full-col;
        border: @full-col;

        &:hover {
            text-decoration: none
        }
    }

    &:hover {
        box-shadow: none;
        color: @darker-col  !important;
        background-color: none
    }
}

.owl-dots {
    display: none
}

.item {
    .card {
        overflow: hidden;
        border: none;

        .card-img-top {
            transform: scale(1);

            &:hover {
                transform: scale(1.1);
                transition: all 0.3s;
            }
        }

        .card-body {
            text-align: center;
            margin-top: 5px;
            line-height: 20px;
            padding: 10px;
            
            .card-title {
                a {
                    color: @dark-col;
                    &:hover {color: @secoundSign-col;}
                }
            }
            .card-text {
                img {
                    display: inline;
                    max-width: 10px;
                    opacity: 0.6;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        text-decoration: none
                    }
                }

                p {
                    direction: rtl;
                    font-size: 16px;
                    margin-bottom: 0;
                    opacity: 0.6;
                    a {
                        color: @dark-col;
                        &:hover {color: @secoundSign-col;}
                    }
                    &:hover {
                        text-decoration: none
                    }
                }

                &:hover {
                    text-decoration: none
                }
            }
        }
    }
}

//OffBox in sideNav
.offbox {
    color: @sign-col;

    .row {
        text-align: center;

        .col-12 {
            position: absolute;
            padding-top: 35px
        }

        h5 {
            margin-bottom: 25px;
            color: @sign-col
        }

        a {
            color: @dark-col;
            font-size: 12px
        }
    }

    img {
        width: 100%;
        margin-top: 20px
    }

    &:hover {
        opacity: 0.6
    }
}

// Newsletter sidenav
.subscribe {
    margin-top: 32px;
    font-size: 18px;

    .block-title {
        text-align: right;

        h5 {
            font-weight: 600
        }
    }

    .block-text {
        text-align: right;
        opacity: 0.6;
        font-size: 14px
    }

    .block-form {
        i {
            border-right: none;
            border-left: 0.5px solid rgba(0, 0, 0, 0.3);
            padding: 8px 10px 10px 10px;
            position: absolute
        }

        input {
            width: 100%;
            text-align: right;
            padding: 10px 20px 13px 0;
            border: 0.5px solid rgba(0, 0, 0, 0.3);
            border-left: none;
            font-size: 14px;
            color: @textBack-col;
            .placeholder-color(@textBack-col);
            &:hover {outline: none};
            &:focus {outline: none};
        }

        button {
            border: 1px solid rgba(220, 152, 49, 0.5);
            background-color: @full-col;
            color: @secoundSign-col;
            margin-top: 10px;
            padding: 8px;
            width: 100%;
            font-size: 16px;
            cursor: pointer;
            .transition(0.5s);

            &:hover {
                background-color: @secoundSign-col;
                color: @full-col
            }
        }
    }
}

//Owl-two carousel most popular section
.owl-two {
    img {
        &:hover {
            opacity: 0.7;
            transition: all 0.3s
        }
    }
}

#card-one {
    margin-top: 50px;

    h5 {
        margin-bottom: 20px;
        text-align: right
    }

    .card {
        border-radius: none;
        border: none;
        text-align: right;

        .row {
            direction: rtl
        }

        #card-one-img {
            height: 90px
        }

        .card-title {
            img {
                width: 12px;
                opacity: 0.4;
            }

            a {
                color: @dark-col
            }
        }

        .card-text {
            .card-text-s2 {
                direction: rtl;
                opacity: 0.4;
                font-size: 18px
            }
        }
    }
}

// Owl three Sidebar carousel
.owl-theme .owl-dot.active span {
    background: @secoundSign-col  !important;
    border: 2px solid @secoundSign-col  !important;
}

.owl-three {
    background-color: @back-col;
    padding: 15px;

    .owl-nav {
        display: none
    }

    .owl-stage {
        text-align: center
    }

    .owl-dots {
        display: block;

        .owl-dot {
            outline: none;

            span {
                margin: 2px;
                background-color: transparent;
                border: 2px solid @font-col  !important;

                &:hover {
                    background-color: transparent !important;
                    border: 2px solid @secoundSign-col  !important;
                }
            }

            &:hover span {
                background: transparent
            }
        }
    }

    .item {
        img {
            display: inline;
            border-radius: 50%;
            max-width: 30%
        }

        p {
            padding-top: 15px;
            opacity: 0.5;
            font-size: 14px
        }

        .p2 {
            font-size: 14px
        }
    }
}

//FOOTER
//FoterTop
.footer-top {
    position: absolute;
    bottom: 13%;
    margin: 20px 0 95px;
    width: 100% !important;

    .footerTopRow {
        background-color: @dark-col;
        color: @text-col;

        .row {
            text-align: center;

            .footerTopDivs {
                padding: 12px 0;

                p {
                    opacity: 0.5;
                    font-size: 12px;
                    margin-bottom: 0
                }
            }
        }
    }
}

//FooterMiddle & FooterBottom
.footers {
    background-color: @bgfootertop-col;
    padding-top: 20px;
    margin-top: 60px;

    .footer-middle {
        padding-top: 30px;
        margin: 50px 0 5px;

        h6 {
            color: @text-col;
            text-align: right
        }

        .connectUS li {
            color: @text-col;
            opacity: 0.3;
            font-size: 14px;
        }

        li {
            list-style-type: none;
            text-align: right;

            a {
                color: @text-col;
                opacity: 0.3;
                font-size: 14px;
                line-height: 30px
            }
        }

        .mb-0 {
            opacity: 0.3;
        }

        p {
            color: @text-col;
            opacity: 0.5;
            text-align: right
        }

        #form {
            margin: 20px 0;
            text-align: right;

            button {
                background-color: @dark-col;
                color: @text-col;
                border: none;
                padding: 3px 17px 6px;
                position: absolute;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                }
            }

            input {
                text-align: right;
                background-color: @bgfootertop-col;
                border: 2px solid @dark-col;
                padding: 5px 10px;
                font-size: 12px;
                color: @textBack-col;
                caret-color: rgb(75, 75, 75);

                &:hover {
                    outline: none;
                }

                &:focus {
                    outline: none
                }
            }

            ::placeholder {
                color: @font-col;
                opacity: 0.3;
            }
        }

        .fa {
            color: @text-col;
            border: 2px solid rgba(75, 75, 75, 0.5);
            border-radius: 100%;
            padding: 10px;
            float: right;
            margin-left: 10px;

            &:hover {
                background-color: @text-col;
                color: @bgfootertop-col;
                border: 2px solid @text-col;
                transition: all 0.3s ease;
                -webkit-transition: all 0.5s ease;
            }
        }

        .fa-facebook {
            padding: 10px 13px
        }
    }

    .footer-bottom {
        text-align: left;
        padding-bottom: 25px;

        p {
            color: @text-col;
            opacity: 0.3;
            font-size: 12px;
            margin-bottom: 0;
            padding-right: 15px;
        }

        .imageBox {
            text-align: right !important;
            padding-right: 30px;

            img {
                max-width: 50%
            }
        }
    }

    #up {
        color: @full-col;
        padding: 5px 10px;
        background: @secoundSign-col;
        bottom: 32px;
        left: 32px;
        position: fixed;
        font-size: 24px;
        z-index: 999;
    }
}

@media @max460 {
    .carousel-caption {
        right: 4%;

        p {
            font-size: 125%
        }

        a {
            font-size: 80%
        }
    }

    #act {
        margin-top: 0
    }

    .plnone {
        padding-left: 0;
    }

    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;

            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

@media @max640 {
    .dropdown {
        padding: 3px 0
    }

    .dropdown-menu>li {
        display: block
    }

    .prev,
    .next {
        display: none
    }

    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;

            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

@media @min640max768 {
    #drop {
        display: none;

        &:hover {
            cursor: pointer !important;

            .dropdown-menu {
                display: block !important
            }
        }
    }

    .top-nav {
        .dropdown-menu {
            display: inline;
            position: relative;
            background-color: transparent;
            border: none;
            font-size: 14px;
            top: 3px;

            li {
                display: inline !important;

                a {
                    display: inline;
                    padding-right: 10px
                }
            }
        }
    }

    .footerTopRow {
        .row {
            overflow: hidden;
            margin-right: 0 !important;
            margin-left: 0 !important;

            .col-sm-12 {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
        }
    }
}

@media @max768 {
    .top-nav {
        position: sticky;
        width: 100%;
    }

    .nav {
        top: 30px;
    }

    .bannerImgBox {
        padding-left: 0;
    }

    .bannerTextBox {
        padding-right: 0
    }

    .footerTopRow .row .col-md-4 {
        border-right: 0
    }

    .footer-top {
        position: relative !important;
        top: 0;
        margin-bottom: -30px !important;
        padding-top: 30px;
        margin-bottom: 0;

        .container {
            margin-right: 0;
        }

        #secoundSectionDiv {
            border-top: 1px solid @bgfootertop-col;
            border-bottom: 1px solid @bgfootertop-col;
        }
    }

    .footers {
        margin-top: 0;
        padding-top: 40px;

        .footer-middle {
            margin-top: 0;
            padding: 15px;
        }

        .footer-bottom {
            padding-right: 0;

            .imageBox {
                right: 0;
            }

            p {
                text-align: right
            }
        }
    }
}

@media @min768 {
    .totalBanner>.row>.col-md-8 {
        padding-right: 0;
    }

    .totalBanner>.row>.col-md-4 {
        padding-left: 0
    }

    #secoundSection {
        border-right: 1px solid @bgfootertop-col;
        border-left: 1px solid @bgfootertop-col;

        #secoundSectionDiv {
            border-top: none;
            border-bottom: none;
        }
    }

    footer {
        .footer-top {
            padding-left: 15px;
            padding-right: 15px;
        }

        .foters .row {
            text-align: right;
        }
    }
}

@media @min769 {
    .top-nav {
        display: none
    }
}

@media @max991 {
    .mediaSearchIcon {
        display: inline !important;
    }

    .cart .links {
        display: none !important
    }

    .search-area>button {
        border: 1px solid rgba(0, 0, 0, 0.2)
    }

    .prev {
        right: 60px !important
    }

    .next {
        right: 35px !important
    }

    .categories {
        margin-top: 30px
    }

    .owl-three .item img {
        max-width: 30px;
    }

    .footer-top {
        bottom: 8% !important;
        margin-bottom: 30px;
    }

}

@media @min992 {
    .footer-top {
        margin-bottom: 125px;
    }

    .footers {
        margin-top: 100px;
    }
}

@media @max1200 {
    .prev {
        right: 60px
    }

    .next {
        right: 35px
    }
}

@media @min1200 {
    .bannerTextBox {
        padding: 32px !important
    }
}