@bg-darker: #262634;
@back-col: #f3f3f3;
@full-col: #fff;
@textBack-col: #908B82;
@text-col: #D9D9D9;
@darker-col: #262634;
@dark-col: #363636;
@font-col: #a4abae;
@sign-col: #AE8C6A;
@secoundSign-col: #dc9831;
@bgfootertop-col: #1f1f1f;